<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tk.coolweather">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.tk.coolweather.activity.ChooseAreaActivity"
            android:label="Weather"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.tk.coolweather.activity.WeatherActivity"/>

        <service android:name="com.example.tk.coolweather.service.AutoUpdateService"></service>

        <receiver android:name="com.example.tk.coolweather.receiver.AutoUpdateReceiver"></receiver>
    </application>

</manifest>